main {
  font-size:12pt;
}

.orange {
  background-color: orange;
}

.orange .col-12 {
  margin-top: 0;
}

.orange .col-12 div {
  margin-bottom: 12pt;
}

h1 {
  margin-bottom: 8pt;
  font-size: 23pt;
}


.col-4,
.col-12 {
  margin-top: 10pt;
}

img {
  width: 100%;
}

.card {
  border: 1px solid grey;
}

  
h3 {
  font-size:15pt;
  font-weight:bold;
  margin-left: 12pt;
  margin-top: 12pt;
  margin-bottom: 6pt;
}

.card div {
  margin-left: 12pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
}