.orange {
  background-color: orange;
}

.orange .col-12 {
  margin-top: 0;
}

.orange .col-12 div {
  margin-bottom: 1rem;
}

h1 {
  margin-bottom: .5rem;
}

.col-4,
.col-12 {
  margin-top: 1.5rem;
}

img {
  width: 100%;
}

.card {
  border: 1px solid grey;
}

h3,
.card div {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

